.book-form-wrapper {
    padding: 30px;
    background-color: var(--middle-grey);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
}

.book-form__title {
    margin-top: 0;
    margin-bottom: 15px;
}

.book-form {
    display: flex;
    gap: 45px;
}

.book-form__half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.book-form__label {
    margin-bottom: 15px;
}

.book-form__img {
    display: block;
    width: 200px;
    height: 250px;
    margin: 0 auto 30px;
    padding: 50px;
    border-radius: var(--middle-radius);
    background-color: var(--light-grey);
    color: var(--darkest-grey);
    text-align: center;
}

.book-form__input:focus-visible {
    outline: none;
}

.input-descr-wrapper {
    padding: 2px 4px;
    border-radius: var(--small-radius);
    background-color: var(--lightest-grey);
}
.textarea-descr {
    padding: 9px;
    width: 100%;
    height: auto;    
    scrollbar-width: thin;
    scrollbar-color: var(--dark-grey) var(--lightest-grey);
}

.book-form__input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}
