.genre-form-wrapper {
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--middle-grey);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
}

.genre-form__title {
    margin-top: 0;
    margin-bottom: 15px;
}

.genre-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    max-width: 500px;
}

.genre-form__label {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.genre-form__input:focus, .genre-form__input:active {
    outline: none;
}

.form__label__error {
    color: var(--red);
}