.book-card {
    background: #fff;
    border-radius: var(--middle-radius);
    overflow: hidden;
    width: calc((100% - 54px) / 3);
}

.book-image {
    height: 220px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.book-details {
    padding: 15px;
}

.book-title {
    margin: 0 0 5px;
    color: var(--light-grey);
    font-weight: 600;
}

.book-author {
    color: var(--middle_grey);
    margin: 0 0 15px;
}

.details-btn {
    width: 100%;
    padding: 8px;
    background: var(--gold);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: var(--dark-gold);
    }
}