.icon {
    display: block;
    margin: 0 auto;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    & g {
        fill: var(--darkest-grey);
    }

    &:hover {
        cursor: pointer;
        outline: 1px solid #fff;
    }
}