// .loader {
//     position: fixed;
//     left: 0;
//     top: 0;
//     z-index: 100;
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: var(--lightest-grey);
    
//     & span {
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//         color: var(--darkest-grey);
//     }
// }

.loader-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    transform: translate(-50%, -50%);
}

@keyframes loader-segment-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.loader__segment {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: loader-segment-scale 0.6s ease infinite;
    background-color: var(--gold);
    
    &:nth-child(1) {
        animation-delay: 0s;
    }
    
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    
    &:nth-child(3) {
        animation-delay: 0.4s;
    }
}
