.header {
    width: 100%;
    height: 80px;
    background-color: var(--light-grey);
}

.container--header {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--page-padding);
}

.header__title {
    margin: 0;
    color: var(--darkest-grey);

    &:hover a, &:active a {
        color: var(--gold);
    }
}

.header__btns-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__btn {    
    color: var(--darkest-grey);
    font-weight: 500;

    &:hover, &:active {
        color: var(--gold);
    }
}